<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />
<h1>{{ blog.title }}</h1>
<h2>{{ blog.user.username }}</h2>

<ul>
{% for post in list_post %}
	
	<li><strong>{{ post.title }} </strong> Создан: {{ post.created }} 
	<p>{{ post.body }}</p>
	<a href="{% url 'blogs:post-detail' post.id %}">
		{% if post.on_read %} 
			Прочитано
		{% else %}
			Новое
		{% endif %}
	</a></li>


{% endfor %}
</ul>

{% if user.is_authenticated %}
	{% if subscribed %}
		<form action="{% url 'blogs:del_subscribe' blog.id %}" method="POST">
		{% csrf_token %}
		<input type="submit" value="Отписаться" />
		</form>
	{% else %}
		<form action="{% url 'blogs:subscribe' blog.id %}" method="POST">
		{% csrf_token %}
		<input type="submit" value="Подписаться" />
		</form>
	{% endif %}
{% endif %}

<br>
<br>
<a href="{% url 'blogs:index' %}">На главную</a>

<div class="pagination" align="center">
	<span class="current">
		Страница {{ list_post.number }} из {{ list_post.paginator.num_pages }}
	</span>
	<span class="step-links">
		{% if list_post.has_previous %}
			<a href="?page={{ list_post.previous_page_number }}">Предыдущая</a>
		{% endif %}
		{% if list_post.has_next %}
			<a href="?page={{ list_post.next_page_number }}">Следующая</a>
		{% endif %}
	</span>
</div>

