<!DOCTYPE html>
{% csrf_token %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />
{% if user.is_authenticated %}
	<div class="my_blog">
	{% if my_blog %}
		<ul><b>Мой блог </b> <a href="{% url 'blogs:detail' my_blog.id %}">Подробнее</a>
		{% if my_post %}
			{% for post in my_post %}
				<li><p>{{ post.title }} </p>
				<p>{{post.body|truncatechars:250}} </p></li>
			{% endfor %}
		{% endif %}
		</ul>
	{% endif %}
	</div>
	<div class="no_blog">
	{% if no_blog %}
		{{ no_blog }} <a href="{% url 'blogs:blog-add' %}">Начать</a>
	{% endif %}
	</div>
	<div class="subscribe">
	{% if list %}
	<b>Подписки</b><br>
		{% for li in list %}
			<p><b>{{ li.blog }} </b> {{ li.title }}</p>
			<p>{{li.body|truncatechars:180}} 
			<a href="{% url 'blogs:post-detail' li.id %}">
			{% if li.on_read %} 
				Прочитано
			{% else %}
				Новое
			{% endif %}
			</a></p>
		{% endfor %}
	{% else %}
		<p><b>Вы не подписаны на блоги</b></p>
	{% endif %}
	</div>
{% else %}
	<p> Войдите для просмотра подписок на блоги </p>
{% endif %}

<div class="popular">
<b>Популярные блоги</b>
{% if blog_list %}
	<ul>
	{% for i in blog_list %}
		<li>  {{ i.title }} {{i.user}} <a href="{% url 'blogs:detail' i.id %}">Подробнее</a></li>
	{% endfor %}
	</ul>
	{% endif %}
	<a href="{% url 'blogs:popular' %}">Смотреть все</a>
</div>

<div class="pagination" align="center">
	<span class="current">
		Страница {{ list.number }} из {{ list.paginator.num_pages }}
	</span>
	<span class="step-links">
		{% if list.has_previous %}
			<a href="?page={{ list.previous_page_number }}">Предыдущая</a>
		{% endif %}
		{% if list.has_next %}
			<a href="?page={{ list.next_page_number }}">Следующая</a>
		{% endif %}
	</span>
</div>
