<!DOCTYPE html>
{% csrf_token %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />

<div class="popular">
{% if list %}
<b>Популярные блоги</b
	<ul>
	{% for i in list %}
		<li>  {{ i.title }} {{i.user}} <p> <a href="{% url 'blogs:detail' i.id %}">Подробнее</a></p></li>
	{% endfor %}
{% endif %}
	</ul>
</div>

<div class="pagination" align="center">
	<span class="current">
		Страница {{ list.number }} из {{ list.paginator.num_pages }}
	</span>
	<span class="step-links">
		{% if list.has_previous %}
			<a href="?page={{ list.previous_page_number }}">Предыдущая</a>
		{% endif %}
		{% if list.has_next %}
			<a href="?page={{ list.next_page_number }}">Следующая</a>
		{% endif %}
	</span>
</div>
