<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />
{% csrf_token %}
<body>
<div>
<form action="{% url 'blogs:post-add' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />

</form>
</div>
<br>
<a href="{% url 'blogs:index' %}">На главную</a>
<footer>

</footer>
</body>
