<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />
<body>
<div>
<form action="{% url 'blogs:post-update' post.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить" />

</form>
</div>
</body>
