<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />
{% csrf_token %}
<h1>{{ post.title }}</h1>
<h2>{{ post.body }}</h2>

{% if updated %}
	<p><a href="{% url 'blogs:post-update' post.id %}">Редактировать пост</a></p>
{% endif %}
<p><a href="{% url 'blogs:detail' post.blog.id %}">Перейти к блогу</a> </p>
<p><a href="{% url 'blogs:index' %}">На главную</a> </p>
<ul>
{% for a in post.comments.all %}
    <li>{{ a.user }}</li>
	<p>{{ a.body }}</p>
{% endfor %}

</ul>
<div>
<form action=" " method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить комментарий" />
</form>
</div>
